source ~/.vimrc

map <leader>rc <Action>(RunClass)
map <leader>r <Action>(Run)
map <leader>h <Action>(HideActiveWindow)
map <leader>vc <Action>(CheckinProject)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dr <Action>(Debug)