source ~/.vimrc
set surround
set visualbell

map <leader>rc <Action>(RunClass)
map <leader>r <Action>(Run)
map <leader>rd <Action>(Debug)

map <leader>h <Action>(HideActiveWindow)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>ee <Action>(EvaluateExpression)
map <leader>pv <Action>(ShowActiveWindow)

map <leader>ev <Action>(IntroduceVariable)
map <leader>ec <Action>(IntroduceConstant)
map <leader>em <Action>(IntroduceMethod)
map <leader>oi <Action>(OptimizeImports)
map <leader>ot <Action>(GotoTest)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

map <leader>rn <Action>(RenameElement)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>fm <Action>(FileStructurePopup)
map <leader>fg <Action>(FindInPath)
map <leader>ff <Action>(SearchEverywhere)
map <leader>py <Action>(CopyPathFromRepositoryRootProvider)

map <leader>gb <Action>(Annotate)
map <leader>gc <Action>(CheckinProject)
map <leader>go <Action>(Github.Open.In.Browser)
map <leader>gd <Action>(Compare.Selected)

map <C-e> <Action>(ShowHarpoon)
map <leader>a <Action>(AddToHarpoon)
map <C-h> <Action>(GotoHarpoon1)
map <C-j> <Action>(GotoHarpoon2)
map <C-k> <Action>(GotoHarpoon3)
map <C-l> <Action>(GotoHarpoon4)
